body {
  font-family: "helvetica";
}

* { box-sizing: border-box; }

#messages-div {
  background: rgba(20,20,20,.65);
  border: 1px solid rgba(0,0,0,.2);
  color: white;
  margin: 10px 0;
  padding: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
    }
  }
}


#newMessage {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
