white = rgba(205,205,213, 1);

body {
  background: #303038;
  font-family: "helvetica";
}

* { box-sizing: border-box; }

#messages-div {
  position: fixed;
  top: 120px;
  right: 0;
  bottom: 60px;
  left: 0;
  color: white;
  padding: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
    }
  }
}


#newMessage {
  background: white;
  border: none;
  box-sizing: border-box;
  box-shadow: inset 0 4px 0 rgba(5,5,13, 0.2);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  outline: none;
}
